.admin_hide_area {
    display: none;
}
table.admin-users-table {
    border-collapse: collapse;
    width: 99%;
}
table.admin-users-table tr.odd {
    background: #ccc;
}
table.admin-users-table thead {
    border-bottom: 1px solid #000;
}
table.admin-users-table thead th {
    text-align: left;
}
table.admin-users-table td {
    border-collapse: collapse;
    border-spacing: none;
}
table.admin-users-table input {
    padding: 5px;
    width: 95%;
}
table.admin-users-table input[type="text"].disabled, 
table.admin-users-table input[disabled] {
    border-color: transparent;
    background: transparent;
}
table.admin-users-table select.disabled {
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
form.admin_user_form label {
    display: block;
    font-weight: normal;
    padding: 5px 0 5px 0;
}

/* End of file admin.css */
/* Location: application/plugins/user-system/styles/admin.css */