.hidden_area {
    display: none;
}
#user_profile_form input {
    padding: 5px;
    width: 95%;
}
#user_profile_form input[type="text"].disabled, 
#user_profile_form input[disabled] {
    border-color: transparent;
    background: transparent;
}
#user_profile_form select.disabled {
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#user_profile_form label {
    display: block;
    font-weight: normal;
    padding: 5px 0 5px 0;
}

/* End of file user-settings.css */
/* Location: application/plugins/user-system/styles/user-settings.css */