pre {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0px 0px 9px;
    font-size: 12.025px;
    line-height: 18px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
code, pre {
    height: 100%;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 12px;
    border-radius: 3px 3px 3px 3px;
}
.pre-selected {

}
.pre-selected:before {
    content: 'Ready to copy!\a\a';
    white-space: pre;
}
.copy-selected {
    color: #333;
}
.copy-selected:before {
    content: 'Copied!\a\a';
    white-space: pre;
}